{
    "swagger": "2.0",
    "info": {
        "title": "LeapAS API",
        "description": "Move your app forward with the LeapAS API",
        "version": "3.0.0"
    },
    "host": "api.leap.as",
    "schemes": [
        "https"
    ],
    "basePath": "/3.0",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/apps": {
            "get": {
                "summary": "Get Application List Based on SessionToken",
                "description": "",
                "tags": [
                    "Application"
                ],
                "responses": {
                    "200": {
                        "description": "An array of applications",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Application"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Application"
                ],
                "summary": "Create an Application",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "application",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Application"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SaveMsg"
                        }
                    },
                    "400": {
                        "description": "Invalid Application"
                    }
                }
            }
        },
        "/apps/org/{orgId}": {
            "get": {
                "tags": [
                    "Application"
                ],
                "summary": "Find Applications by OrgID",
                "description": "",
                "operationId": "getApplicationByOrgId",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "orgId",
                        "description": "ID of organization",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of applications",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Application"
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/all": {
            "get": {
                "tags": [
                    "Application"
                ],
                "summary": "Find All Applications Matchs The Query",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "where",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "order",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "keys",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "excludeKeys",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "include",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of applications",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Application"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/query": {
            "post": {
                "tags": [
                    "Application"
                ],
                "summary": "Find All Applications Matchs The Query",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Query object",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Query"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of applications",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Application"
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appId}": {
            "get": {
                "tags": [
                    "Application"
                ],
                "summary": "Get Application by ID",
                "description": "",
                "operationId": "getApplicationById",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "appId",
                        "description": "ID of application that needs to be fetched",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/Application"
                        }
                    },
                    "400": {
                        "description": "Invalid ID supplied"
                    }
                }
            },
            "put": {
                "tags": [
                    "Application"
                ],
                "summary": "Update Application by ID",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "appId",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Application"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Invalid application supplied"
                    }
                }
            }
        },
        "/apps/{appId}/ccodesetting": {
            "post": {
                "tags": [
                    "Application"
                ],
                "summary": "Update Application CCodeSetting by ID",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "appId",
                        "description": "ID of application that needs to be fetched",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "password": {
                                    "type": "string",
                                    "description": ""
                                },
                                "cloudCodeMapping": {
                                    "type": "string",
                                    "description": ""
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/UpdateMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appId}/deleteIAP": {
            "post": {
                "tags": [
                    "Application"
                ],
                "summary": "Delete Application's IAP Setting By AppID",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "appId",
                        "description": "ID of application that needs to be fetched",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/UpdateMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appId}/getSingle": {
            "post": {
                "tags": [
                    "Application"
                ],
                "summary": "Get The Simple Application Info By AppID",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "appId",
                        "description": "ID of application that needs to be fetched",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": ""
                                },
                                "orgId": {
                                    "type": "string",
                                    "description": ""
                                },
                                "orgUserIds": {
                                    "type": "array",
                                    "description": ""
                                },
                                "description": {
                                    "type": "string",
                                    "description": ""
                                },
                                "metadata": {
                                    "type": "string",
                                    "description": ""
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/console/hosting": {
            "get": {
                "tags": [
                    "Cloudcode"
                ],
                "summary": "Find All Jar files Of Application",
                "description": "list all jar files of running application in the cloud",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "An array of file name",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "examples": {
                            "application/json": [
                                "helloworld.jar"
                            ]
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/console/config": {
            "get": {
                "tags": [
                    "Cloudcode"
                ],
                "summary": "View global.json config Of Application",
                "description": "view global.json config of running application in the cloud",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "gloabal.json config",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "applicationName": {
                                    "type": "string",
                                    "description": ""
                                },
                                "applicationId": {
                                    "type": "string",
                                    "description": ""
                                },
                                "lang": {
                                    "type": "string",
                                    "description": ""
                                },
                                "java-main": {
                                    "type": "string",
                                    "description": ""
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "applicationName": "JustPlay",
                                "applicationId": "53a8fb2530042872f0bf39db",
                                "lang": "java",
                                "java-main": "me.streamis.Main"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/console/jobNames": {
            "get": {
                "tags": [
                    "Cloudcode"
                ],
                "summary": "List All Job Names Of Application",
                "description": "list all job names of running application in the cloud",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "An array of job name",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "examples": {
                            "application/json": [
                                "testJob001",
                                "testJob003",
                                "testJob003"
                            ]
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/console/logs/{level}": {
            "get": {
                "tags": [
                    "Cloudcode"
                ],
                "summary": "Find Special Level Logs Of Application Matches The Query",
                "description": "find special level logs of the application in the cloud matches the query",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "level",
                        "description": "log level,contains info/error/all,case-insensitive",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "info",
                            "error",
                            "all"
                        ]
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "count",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "special level logs",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "results": {
                                    "type": "array",
                                    "description": "",
                                    "items": {
                                        "$ref": "#/definitions/ConsoleLog"
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "results": [
                                    {
                                        "updatedAt": "2014-10-11T01:54:13.677Z",
                                        "message": "Deployed Cloud Function :hello",
                                        "level": "INFO",
                                        "createdAt": "2014-10-11T01:54:13.677Z",
                                        "objectId": "54388dc53004c29959646a20"
                                    },
                                    {
                                        "updatedAt": "2014-10-11T01:44:48.354Z",
                                        "message": "Deployed Cloud Function :hello",
                                        "level": "INFO",
                                        "createdAt": "2014-10-11T01:44:48.354Z",
                                        "objectId": "54388b903004256d29137670"
                                    }
                                ]
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/cloudcode/upload": {
            "post": {
                "tags": [
                    "Cloudcode"
                ],
                "summary": "Upload Your Application's Cloud Code",
                "description": "upload your application code which will be deployed in the cloud，This operation may take a long time",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "file",
                        "description": "your application code file which you want to upload",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK,and return status message of code uploaded",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "boolean",
                                    "description": "Whether has been successful"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "docker image id for your Application code"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "status": true,
                                "message": "10.10.10.160:8010/545ad7583ee6/helloword:0.1.1"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/cloudcode/versions": {
            "get": {
                "tags": [
                    "Cloudcode"
                ],
                "summary": "List All Code Versions Uploaded Of Application",
                "description": "list all code versions uploaded of application in the cloud",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "An array of version",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "examples": {
                            "application/json": [
                                "0.1.0",
                                "0.1.1",
                                "0.2.0"
                            ]
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/cloudcode/deploy": {
            "post": {
                "tags": [
                    "Cloudcode"
                ],
                "summary": "Deploy An Special Version's Application",
                "description": "deploy an special version's application，This operation may take a long time",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "version which you want to deloy",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "version": {
                                    "type": "string",
                                    "description": "the version of you want to deploy application"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK,and return the status of operation",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean",
                                    "description": "Whether has been successful"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "success": true
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/cloudcode/unDeploy": {
            "post": {
                "tags": [
                    "Cloudcode"
                ],
                "summary": "UnDeploy Your All Running Applications",
                "description": "UnDeploy all applcations of running in the cloud，This operation may take a long time",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK,and return the status of operation",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean",
                                    "description": "Whether has been successful"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "success": true
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/scheduler/tasks": {
            "get": {
                "tags": [
                    "Scheduler"
                ],
                "summary": "Find All Tasks Waiting For executed Of Application",
                "description": "find all jobs waiting for executed of the application in the cloud",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK,and return job tasks",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "results": {
                                    "type": "array",
                                    "description": "",
                                    "items": {
                                        "$ref": "#/definitions/JobTask"
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "results": [
                                    {
                                        "createdAt": "2014-12-01T03:07:26.388Z",
                                        "name": "myJob",
                                        "interval": 20000,
                                        "applicationId": "53d21c66e4b04663ccc7fbfd",
                                        "params": {
                                            "a": "b"
                                        },
                                        "objectId": "547bdb6e3004119e22ee7893",
                                        "executeTime": 1417414506140,
                                        "desc": "my test01",
                                        "updatedAt": "2014-12-01T06:14:46.151Z"
                                    },
                                    {
                                        "createdAt": "2014-12-01T03:34:40.425Z",
                                        "name": "myJob",
                                        "interval": 20000,
                                        "applicationId": "53d21c66e4b04663ccc7fbfd",
                                        "params": {
                                            "a": "b"
                                        },
                                        "objectId": "547be1d03004be9240f80a9a",
                                        "executeTime": 1417414500192,
                                        "desc": "my test02",
                                        "updatedAt": "2014-12-01T06:14:40.207Z"
                                    }
                                ]
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/scheduler/tasks/{taskId}": {
            "get": {
                "tags": [
                    "Scheduler"
                ],
                "summary": "Get an special task Of Application",
                "description": "get an special task of the application in the cloud",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "taskId",
                        "description": "the task objectId which you want to get",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK,and return task detail message",
                        "schema": {
                            "$ref": "#/definitions/JobTask"
                        },
                        "examples": {
                            "application/json": {
                                "createdAt": "2014-12-01T03:07:26.388Z",
                                "name": "myJob",
                                "interval": 20000,
                                "applicationId": "53d21c66e4b04663ccc7fbfd",
                                "params": {
                                    "a": "b"
                                },
                                "objectId": "547bdb6e3004119e22ee7893",
                                "executeTime": 1417414506140,
                                "desc": "my test01",
                                "updatedAt": "2014-12-01T06:14:46.151Z"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/scheduler/add": {
            "post": {
                "tags": [
                    "Scheduler"
                ],
                "summary": "Add An Task",
                "description": "add an task which will execute special job at special time",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "task message which you want to create",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "desc": {
                                    "type": "string",
                                    "description": "your special name for your current job"
                                },
                                "jobName": {
                                    "type": "string",
                                    "description": "the job name of Application definded which task run with"
                                },
                                "params": {
                                    "type": "string",
                                    "description": "the params which task will execute job with"
                                },
                                "startTimestamp": {
                                    "type": "string",
                                    "description": "the time when job will execute job at,unit is second"
                                },
                                "interval": {
                                    "type": "integer",
                                    "description": "the interval time of job execute repetitive,default value is -1"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK,and return task created info",
                        "schema": {
                            "$ref": "#/definitions/SaveMsg"
                        },
                        "examples": {
                            "application/json": {
                                "objectId": "547c076430049df2a1add98a",
                                "createdAt": "2014-12-01T06:15:00.209Z"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/scheduler/modify/{taskId}": {
            "post": {
                "tags": [
                    "Scheduler"
                ],
                "summary": "Modify An Special Task",
                "description": "modify an task which will execute special job at special time",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "taskId",
                        "description": "task objectId which you want to modify",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "job message which you want to modify",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "desc": {
                                    "type": "string",
                                    "description": "your special name for your current job"
                                },
                                "jobName": {
                                    "type": "string",
                                    "description": "the job name of Application definded"
                                },
                                "params": {
                                    "type": "string",
                                    "description": "params which job will execute with"
                                },
                                "startTimestamp": {
                                    "type": "string",
                                    "description": "the time when job will execute at,unit is second"
                                },
                                "interval": {
                                    "type": "integer",
                                    "description": "the interval time of job execute repetitive,default value is -1"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK,and return the task modified message",
                        "schema": {
                            "$ref": "#/definitions/UpdateMsg"
                        },
                        "examples": {
                            "application/json": {
                                "number": 1,
                                "updatedAt": "2014-12-01T06:15:00.209Z"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/scheduler/delete/{taskId}": {
            "delete": {
                "tags": [
                    "Scheduler"
                ],
                "summary": "Delete An Special Task",
                "description": "delete an special task",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "taskId",
                        "description": "task objectId which you want to delete",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK,and return task deleted message",
                        "schema": {
                            "$ref": "#/definitions/DeleteMsg"
                        },
                        "examples": {
                            "application/json": {
                                "number": 1,
                                "updatedAt": "2014-12-01T06:15:00.209Z"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/scheduler/run/{taskId}": {
            "post": {
                "tags": [
                    "Scheduler"
                ],
                "summary": "Run An Special Task",
                "description": "run an special task right away",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "taskId",
                        "description": "task objectId which you want to run right away",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK,and return the status of task running",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean",
                                    "description": "Whether has been successful"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "success": true
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/scheduler/status": {
            "get": {
                "tags": [
                    "Scheduler"
                ],
                "summary": "List Tasks Running Status Of Application Matches The Query",
                "description": "list tasks running status of the application in the cloud",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "count",
                        "description": "",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK,and return tasks running status info",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "results": {
                                    "type": "array",
                                    "description": "",
                                    "items": {
                                        "properties": {
                                            "updatedAt": {
                                                "type": "string",
                                                "description": "the time last updated at"
                                            },
                                            "message": {
                                                "type": "string",
                                                "description": "task remark message"
                                            },
                                            "startTimeStamp": {
                                                "type": "string",
                                                "description": "the time of task started at "
                                            },
                                            "status": {
                                                "type": "string",
                                                "description": "the status of task",
                                                "enum": [
                                                    "RUNNING",
                                                    "SUCCEEDED",
                                                    "FAILED",
                                                    "HANGING",
                                                    "EXPIRE"
                                                ]
                                            },
                                            "createdAt": {
                                                "type": "string",
                                                "description": "the time of created at"
                                            },
                                            "objectId": {
                                                "type": "string",
                                                "description": "task status log id in database"
                                            },
                                            "applicationID": {
                                                "type": "string",
                                                "description": "application id"
                                            },
                                            "endTimeStamp": {
                                                "type": "string",
                                                "description": "the time of task finished at "
                                            },
                                            "jobName": {
                                                "type": "string",
                                                "description": "the job name of Application definded which task run with"
                                            },
                                            "taskID": {
                                                "type": "string",
                                                "description": "task id which status belong to"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "results": [
                                    {
                                        "updatedAt": "2014-10-11T05:40:54.636Z",
                                        "message": null,
                                        "startTimeStamp": 1413100063,
                                        "status": "SUCCEEDED",
                                        "createdAt": "2014-10-11T05:40:54.636Z",
                                        "objectId": "5438c2e630049ee6a03b63d2",
                                        "applicationID": "53a8fb2530042872f0bf39db",
                                        "endTimeStamp": 1413000069,
                                        "jobName": "test",
                                        "taskID": "80fc42de-13ef-4549-8d3d-ee7c7edb9ca8"
                                    },
                                    {
                                        "updatedAt": "2014-10-11T05:40:18.344Z",
                                        "message": null,
                                        "startTimeStamp": 1413100063,
                                        "status": "SUCCEEDED",
                                        "createdAt": "2014-10-11T05:40:18.344Z",
                                        "objectId": "5438c2c230049ee6a03b63d0",
                                        "applicationID": "53a8fb2530042872f0bf39db",
                                        "endTimeStamp": 1413000069,
                                        "jobName": "test",
                                        "taskID": "80fc42de-13ef-4549-8d3d-ee7c7edb9ca8"
                                    }
                                ]
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/segs": {
            "post": {
                "summary": "create segment",
                "tags": [
                    "Segment"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "segment",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": ""
                                },
                                "criteria": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string"
                                        },
                                        "body": {
                                            "type": "object",
                                            "description": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SaveMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/segs/{segId}": {
            "delete": {
                "tags": [
                    "Segment"
                ],
                "summary": "delete segment",
                "description": ".",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "segId",
                        "description": "ID of segment that needs to be fetched",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DeleteMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Segment"
                ],
                "summary": "get segment by segId",
                "description": ".",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "segId",
                        "description": "ID of segment that needs to be fetched",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Segment"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/segs/count/{segId}": {
            "get": {
                "tags": [
                    "Segment"
                ],
                "summary": "count total appUsers by segment",
                "description": ".",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "segId",
                        "description": "ID of segment that needs to be fetched",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "description": "the reuslt of AppUser count."
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/segs/install/{installId}": {
            "get": {
                "tags": [
                    "Segment"
                ],
                "summary": "load all segments which belong the AppUser",
                "description": ".",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "installId",
                        "description": "ID of segment that needs to be fetched",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of segments",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Segment"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/segs/installDy/{installId}": {
            "get": {
                "tags": [
                    "Segment"
                ],
                "summary": "load all dynamic segments which belong the AppUser",
                "description": ".",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "installId",
                        "description": "ID of segment that needs to be fetched",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of segments",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Segment"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/segs/query": {
            "post": {
                "tags": [
                    "Segment"
                ],
                "summary": "Find All Segmetns Matchs The Query",
                "description": ".",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "description": "query segments",
                        "schema": {
                            "$ref": "#/definitions/Query"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of segments",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Segment"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/segs/appUser/{segId}": {
            "get": {
                "tags": [
                    "Segment"
                ],
                "summary": "Find AppUser Matchs The segemt",
                "description": ".",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "segId",
                        "required": true,
                        "description": ".",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "where",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "order",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "keys",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "excludeKeys",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "include",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of segments",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Segment"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/segs/appUser": {
            "get": {
                "tags": [
                    "Segment"
                ],
                "summary": "load AppUser which belong the app",
                "description": ".",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "appId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "from",
                        "description": ".",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "to",
                        "description": ".",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of AppUser",
                        "schema": {
                            "type": "array",
                            "description": "an array of appUser",
                            "items": {
                                "type": "object",
                                "description": "the AppUser object"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/location/country": {
            "get": {
                "summary": "get country",
                "tags": [
                    "Location"
                ],
                "produces": [
                    "application/json"
                ],
                "description": "get country",
                "parameters": [
                    {
                        "in": "query",
                        "name": "where",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "order",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "keys",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "excludeKeys",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "include",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Country"
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/location/country/sub": {
            "get": {
                "summary": "get country city",
                "tags": [
                    "Location"
                ],
                "produces": [
                    "application/json"
                ],
                "description": "get country city",
                "parameters": [
                    {
                        "in": "query",
                        "name": "where",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "order",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "keys",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "excludeKeys",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "include",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CountryCity"
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/location/country/location": {
            "get": {
                "summary": "get country city by ip",
                "tags": [
                    "Location"
                ],
                "produces": [
                    "application/json"
                ],
                "description": "get country city by ip",
                "parameters": [
                    {
                        "in": "query",
                        "name": "ip",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/GeoLocation"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/location/lang": {
            "get": {
                "summary": "get lang  by lang code",
                "tags": [
                    "Location"
                ],
                "produces": [
                    "application/json"
                ],
                "description": ".",
                "parameters": [
                    {
                        "in": "query",
                        "name": "langCode",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Lang"
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/payments": {
            "post": {
                "summary": "create payments",
                "tags": [
                    "Payments"
                ],
                "produces": [
                    "application/json"
                ],
                "description": "used by client(android,ios)",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "description": ".",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Payment"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/UpdateMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/help/faq/section": {
            "post": {
                "summary": "create section",
                "tags": [
                    "FAQ"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "section",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/FaqSection"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SaveMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "summary": "load section by Query",
                "tags": [
                    "FAQ"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "appId",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "langCode",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "where",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "order",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "keys",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "excludeKeys",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "include",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/FaqSection"
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/help/faq/section/{objectId}": {
            "get": {
                "summary": "get section by Id",
                "tags": [
                    "FAQ"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "objectId",
                        "description": "section id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/FaqSection"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "delete section by Id",
                "tags": [
                    "FAQ"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "objectId",
                        "description": "section id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/DeleteMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "update section by Id",
                "tags": [
                    "FAQ"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "objectId",
                        "description": "section id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/FaqSection"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/DeleteMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/help/faq/section/app": {
            "post": {
                "summary": "load section by Query with Post method",
                "tags": [
                    "FAQ"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "section",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Query"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/FaqSection"
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/help/faq/section/seq/{objectId}": {
            "put": {
                "summary": "update section sequence by id",
                "tags": [
                    "FAQ"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "objectId",
                        "description": "udpate section's sequence",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "preSeq": {
                                    "type": "number"
                                },
                                "nextSeq": {
                                    "type": "number"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/UpdateMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/help/faq/item": {
            "post": {
                "summary": "create faq item",
                "tags": [
                    "FAQ"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "faq item",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/FaqItem"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SaveMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "summary": "Find All the app's item Matchs The Query",
                "tags": [
                    "FAQ"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "appId",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "langCode",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "where",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "order",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "keys",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "excludeKeys",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "include",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "skip",
                        "description": "",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/SaveMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/help/faq/item/{objectId}": {
            "get": {
                "summary": "get faq item by Id",
                "tags": [
                    "FAQ"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "objectId",
                        "description": "item Id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/FaqItem"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "delete item by Id",
                "tags": [
                    "FAQ"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "objectId",
                        "description": "item id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/DeleteMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "update item by Id",
                "tags": [
                    "FAQ"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "objectId",
                        "description": "item id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/FaqItem"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/DeleteMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/help/faq/item/count": {
            "get": {
                "summary": "get total count of faq item",
                "tags": [
                    "FAQ"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "where",
                        "description": ".",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/CountMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/help/faq/item/seq/{objectId}": {
            "put": {
                "summary": "update item's sequence by id",
                "tags": [
                    "FAQ"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "objectId",
                        "description": "udpate item's sequence",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "preSeq": {
                                    "type": "number"
                                },
                                "nextSeq": {
                                    "type": "number"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/UpdateMsg"
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/help/faq/searchItem": {
            "get": {
                "summary": "search item",
                "tags": [
                    "FAQ"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "platform",
                        "description": ".",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "df",
                        "description": ".",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "langCode",
                        "description": ".",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "from",
                        "description": ".",
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "in": "query",
                        "name": "size",
                        "description": ".",
                        "type": "integer",
                        "default": 20
                    },
                    {
                        "in": "query",
                        "name": "q",
                        "description": "the search string",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
[...]
